{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% block innerlinks %}
{% include 'payroll/payroll_nav.html' %}
{% endblock %}
{% block body %}
                    <div class="body-content">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="fs-17 font-weight-600 mb-0">All Advance Amount Record</h6>
                                    </div>
                                    <div class="text-right">
                                        <div class="actions">
                                            <a href="#" class="action-item"><i class="ti-reload"></i></a>
                                            <div class="dropdown action-item" data-toggle="dropdown">
                                                <a href="#" class="action-item"><i class="ti-more-alt"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Refresh</a>
                                                    <a href="#" class="dropdown-item">Manage Widgets</a>
                                                    <a href="#" class="dropdown-item">Settings</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'payroll:advancesalary_create' %}" class="btn btn-primary">add new</a>
                                <div class="table-responsive my-4">
                                    
                                  <table id="example" class="table display table-bordered table-striped table-hover">
                                      <thead>
                                          <tr>
                                              <th width="5%">S-No</th>
                                              <th width="10%">Name</th>
                                              <th width="10%">Date</th>
                                              <th width="10%">Amount</th>
                                              <th width="10%">Monthly Detection</th>
                                              <th width="10%">Status</th>
                                              <th width="30%">details</th>
                                              <th width="20%">Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        {% for advancesalary in advancesalarys %}
                                        <tr>
                                            <td> {{forloop.counter}} </td>
                                            <td> {{advancesalary.employee_name}} </td>
                                            <td> {{advancesalary.payment_date}} </td>
                                            <td> {{advancesalary.advance_amount}} </td>
                                            <td> {{advancesalary.monthly_detection}} </td>
                                            <td> Pending </td>
                                            <td> {{advancesalary.detail}} </td>

                                            <td>
                                                <a href="{% url 'payroll:advancesalary_update' pk=advancesalary.pk %}" class="btn btn-labeled btn-success mb-2 mr-1">
                                                    <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>Edit
                                                </a>
                                                <a href="{% url 'payroll:advancesalary_delete' pk=advancesalary.pk %}" class="btn btn-labeled btn-warning mb-2 mr-1">
                                                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Delete
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>

                                  </table>
                              </div>
                            </div>
                        </div>
                    </div><!--/.body content-->
{% endblock %}