{% extends 'frontend/base.html' %}
{% load static %}
{% block event %}
active
{% endblock %}
{% block body %}
		<!-- page-title-area-start -->
		<div class="page-title-area ptb-170 bg-opacity-1" style="background-image:url({% static 'frontend/img/bg/14.jpg' %}); padding: 90px 0px;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-title-text">
							<h2>School Events</h2>
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- page-title-area-end -->
		<!-- event-grid-style-01-start -->
		<!-- <div class="event-grid-style-01 pt-130 pb-100">
			<div class="container">
				<div class="section-title mb-45">
					<h4>event grid style - 01</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="event-style-1-wrapper mb-30">
							<div class="eveny-style1-img">
								<a href="#"><img src="{% static 'frontend/img/event/01.jpg' %}" alt="" /></a>
								<div class="event-style1-content">
									<div class="event-style1-text">
										<div class="event-style1-meta">
											<span class="event-style1-left"><i class="ti-location-pin"></i> Bosundhora city</span>
											<span class="event-style1-left"><i class="ti-calendar"></i> 07 Oct, 2017</span>
										</div>
										<h4><a href="#">Lorem ipsum dolor sit aconse.</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="event-style-1-wrapper mb-30">
							<div class="eveny-style1-img">
								<a href="#"><img src="{% static 'frontend/img/event/02.jpg' %}" alt="" /></a>
								<div class="event-style1-content">
									<div class="event-style1-text">
										<div class="event-style1-meta">
											<span class="event-style1-left"><i class="ti-calendar"></i> 07 Oct, 2017</span>
										</div>
										<h4><a href="#">Lorem ipsum dolor sit aconse.</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="event-style-1-wrapper mb-30">
							<div class="eveny-style1-img">
								<a href="#"><img src="{% static 'frontend/img/event/03.jpg' %}" alt="" /></a>
								<div class="event-style1-content">
									<div class="event-style1-text">
										<div class="event-style1-meta">
											<span class="event-style1-left"><i class="ti-calendar"></i> 07 Oct, 2017</span>
										</div>
										<h4><a href="#">Lorem ipsum dolor sit aconse.</a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- event-grid-style-01-end -->
		<!-- event-grid-style-02-start -->
		<!-- <div class="event-grid-style-02 pb-100">
			<div class="container">
				<div class="section-title mb-45">
					<h4>event grid style - 02</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="event-style-02-wrapper mb-30">
							<div class="event-style-02-img">
								<a href="#"><img src="{% static 'frontend/img/event/04.jpg' %}" alt="" /></a>
								<span><i class="ti-calendar"></i>10th Oct, 2017</span>
							</div>
							<div class="event-style-02-content">
								<h4><a href="#">Lorem ipsum dolor sit aconse.</a></h4>
								<div class="event-style-02-meta">
									<span> <i class="ti-location-pin"></i> Bosundhora city</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="event-style-02-wrapper mb-30">
							<div class="event-style-02-img">
								<a href="#"><img src="{% static 'frontend/img/event/05.jpg' %}" alt="" /></a>
								<span><i class="ti-calendar"></i>10th Oct, 2017</span>
							</div>
							<div class="event-style-02-content">
								<h4><a href="#">Lorem ipsum dolor sit aconse.</a></h4>
								<div class="event-style-02-meta">
									<span> <i class="ti-timer"></i> 9.00 am - 5.00 pm</span>
									<span> <i class="ti-location-pin"></i> Bosundhora city</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="event-style-02-wrapper mb-30">
							<div class="event-style-02-img">
								<a href="#"><img src="{% static 'frontend/img/event/06.jpg' %}" alt="" /></a>
								<span><i class="ti-calendar"></i>10th Oct, 2017</span>
							</div>
							<div class="event-style-02-content">
								<h4><a href="#">Lorem ipsum dolor sit aconse.</a></h4>
								<div class="event-style-02-meta">
									<span> <i class="ti-location-pin"></i> Bosundhora city</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- event-grid-style-02-end -->
		<!-- event-list-style-1-start -->
		<!-- <div class="event-list-style-1 pb-90">
			<div class="container">
				<div class="section-title mb-45">
					<h4>event list style - 01</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				</div>
				<div class="row">
					<div class="col-md-4 p-0">
						<div class="event-list-1-img">
							<a href="#"><img src="{% static 'frontend/img/event/8.jpg' %}" alt="" /></a>
						</div>
					</div>
					<div class="col-md-8 p-0">
						<div class="event-list-1-wrapper mb-50">
							<div class="event-list-1-content">
								<div class="event-list-1-meta">
									<span class="list-event">
										<i class="ti-timer"></i>
										9.00 am - 5.00 pm
									</span>
									<span class="list-event">
										<i class="ti-location-pin"></i>
										Bosundhora city
									</span>
									<span class="list-event">
										<i class="ti-calendar"></i>
										07 Oct, 2017
									</span>
								</div>
								<h4><a href="#">Lorem ipsusicing elit,Duis aute irure dolor in repre Ibiend archi.</a> </h4>
								<p>Lorem ipsum labore et dolore magna aliqua. Ut enim ad minim venexercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<a href="#">Read More..</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 p-0">
						<div class="event-list-1-img">
							<a href="#"><img src="{% static 'frontend/img/event/10.jpg' %}" alt="" /></a>
						</div>
					</div>
					<div class="col-md-8 p-0">
						<div class="event-list-1-wrapper mb-30">
							<div class="event-list-1-content">
								<div class="event-list-1-meta">
									<span class="list-event">
										<i class="ti-timer"></i>
										9.00 am - 5.00 pm
									</span>
									<span class="list-event">
										<i class="ti-location-pin"></i>
										Bosundhora city
									</span>
									<span class="list-event">
										<i class="ti-calendar"></i>
										07 Oct, 2017
									</span>
								</div>
								<h4><a href="#">Lorem ipsusicing elit,Duis aute irure dolor in repre Ibiend archi.</a> </h4>
								<p>Lorem ipsum labore et dolore magna aliqua. Ut enim ad minim venexercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								<a href="#">Read More..</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- event-list-style-1-end -->
		<!-- event-list-style-2-start -->
		<br>
		<div class="event-list-style-2 pb-100">
			<div class="container">
				{% if events %}
					<div class="section-title mb-45">
						<h4>Event List</h4>
						<p>Events are best for our students. Events will be appeared here to acknowledge the students.</p>
					</div>
				{% endif %}
				<div class="row">
					{% for event in events %}
					<div class="col-md-6 col-sm-6">
						<div class="top-event-wrapper mb-30">
							<div class="top-event-img">
								<a href="#"><img src="{{event.image.url}}" alt=""></a>
							</div>
							<div class="top-event-content">
								<div class="top-event-meta">
									<span class="top-event">
										<i class="ti-location-pin"></i>
										{{event.city}}
									</span>
									<span class="top-event">
										<i class="ti-timer"></i>
										{{event.start_time}} - {{event.end_time}}
									</span>
									<span class="top-event">
										<i class="ti-calendar"></i>
										{{event.event_date}}
									</span>
								</div>
								<h4><a href="">{{event.heading}}</a></h4>
								<p> {{event.description}} </p>
								<a href="#">Read More..</a>
							</div>
						</div>
					</div>
					{% empty %}
				</div>
			</div>
					<h1 style="text-align: center; padding: 40px; text-transform: uppercase; background: coral; margin: 0;"> No Event Listed </h1>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- event-list-style-2-end -->
		{% endblock %}