
<a href="{% url 'message:message_email'%}" class="btn btn-labeled btn-danger mb-2 mr-1">
    <span class="btn-label"><i class="glyphicon glyphicon-home"></i></span>All (Msgs / mails)
</a>


<a href="{% url 'message:email_view'%}" class="btn btn-labeled btn-danger mb-2 mr-1">
    <span class="btn-label"><i class="glyphicon glyphicon-send"></i></span>E-Mails   
</a>

<a href="{% url 'message:message_view' %}" class="btn btn-labeled btn-danger mb-2 mr-1">
    <span class="btn-label"><i class="glyphicon glyphicon-envelope"></i></span>Messages
</a>

