{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="body-content">
    <div class="row">
        <div class="col-sm-12 col-xl-8">
            <div class="media d-flex m-1 ">
                <div class="align-left p-1">
                    <a href="#" class="profile-image">
                        <img src="{{school_profile_data.school_logo.url}}" class="avatar avatar-xl rounded-circle img-border height-100"
                            alt="Card image">
                    </a>
                </div>
                <div class="media-body text-left ml-3 mt-1">
                    <h3 class="font-large-1 white">{{ user_profile_data.first_name }} {{ user_profile_data.last_name }}
                        <span class="font-medium-1 white">(Awner) </span>
                    </h3>
                    <p class="white">
                        <i class="fas fa-map-marker-alt"></i> Address</p>
                    <p class="white text-bold-300 d-none d-sm-block"> {{ school_profile_data.address }} </p>
                    <!-- <ul class="list-inline">
                        <li class="list-inline-item pr-1 line-height-1">
                            <a href="#" class="fs-26 ">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item pr-1 line-height-1">
                            <a href="#" class="fs-26 ">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item line-height-1">
                            <a href="#" class="fs-26 ">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="fs-17 font-weight-600 mb-0">Access Details</h6>
                        </div>
                        <div class="text-right">
                            <div class="actions">
                                <a href="#" class="action-item"><i class="ti-reload"></i></a>
                                <div class="dropdown action-item" data-toggle="dropdown">
                                    <a href="#" class="action-item"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item">Refresh</a>
                                        <a href="#" class="dropdown-item">Manage Widgets</a>
                                        <a href="#" class="dropdown-item">Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col">
                            <h6 class="mb-0 font-weight-600">Joing Date</h6>
                            <time class="fs-13 font-weight-600 text-muted"
                            datetime="1988-10-24">{{ user_profile_data.date_joined }}</time>
                        </div>
                        
                        <div class="col">
                            <h6 class="mb-0 font-weight-600">Last Login</h6>
                            <time class="fs-13 font-weight-600 text-muted" datetime="2018-10-28">
                                {{user_profile_data.last_login}} </time>
                        </div>
                       
                        <div class="col">
                            <h6 class="mb-0 font-weight-600">Location</h6>
                            <span class="fs-13 font-weight-600 text-muted">Pakistan</span>
                        </div>
                        
                        <div class="col">
                            <h6 class="mb-0 font-weight-600">Website</h6>
                            <a href="#!" class="fs-13 font-weight-600">N/A</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">       
        <div class="col-lg-12">
            <form method="POST" action="{{userprofileform}}" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="fs-17 font-weight-600 mb-0">Edit Profile</h6>
                            </div>
                            <div class="text-right">
                                <div class="actions">
                                    <a href="#" class="action-item"><i class="ti-reload"></i></a>
                                    <div class="dropdown action-item" data-toggle="dropdown">
                                        <a href="#" class="action-item"><i class="ti-more-alt"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">Refresh</a>
                                            <a href="#" class="dropdown-item">Manage Widgets</a>
                                            <a href="#" class="dropdown-item">Settings</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                {{form.school_name|as_crispy_field}}
                            </div>
                          
                            <div class="col-md-4 pl-md-1">
                                {{form.school_registration_no|as_crispy_field}}
                            </div>
                            <div class="col-md-4 pl-md-1">
                                {{form.email_address|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                {{form.contact_no|as_crispy_field}}
                            </div>
                            
                            <div class="col-md-6 pl-md-1">
                                {{form.cnic|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                {{form.school_timing_from|as_crispy_field}}
                            </div>
                            <div class="col-md-4 pl-md-1">
                                {{form.school_timing_to|as_crispy_field}}
                            </div>
                            <div class="col-md-4 px-md-1">
                                {{form.school_logo|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{form.address|as_crispy_field}}
                            </div>
                        </div>
                        <!-- <div class="row">
                                                <div class="col-md-4 pr-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">City</label>
                                                        <input type="text" class="form-control" placeholder="City" value="Mike">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Country</label>
                                                        <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 pl-md-1">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">Postal Code</label>
                                                        <input type="number" class="form-control" placeholder="ZIP Code">
                                                    </div>
                                                </div>
                                            </div> -->
                        <!-- <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label class="font-weight-600">About Me</label>
                                                        <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</textarea>
                                                    </div>
                                                </div>
                                            </div> -->

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--/.body content-->
{% endblock %}