<div class="mycard">
    <div class="myicon">
        <i class="typcn typcn-chart-pie" style=""></i>
    </div>
    <a href="{% url 'fee:fee_main'%}">All (homex)</a> 
</div>

<div class="mycard">
    <div class="myicon">
        <i class="typcn typcn-chart-bar" style=""></i>
    </div>
    <a href="{% url 'fee:generate_challan'%}">Generate Challan</a> 
</div>

<div class="mycard">
    <div class="myicon">
        <i class="typcn typcn-credit-card" style=""></i>
    </div>
    <a href="{% url 'fee:unpaid_challan'%}">Pay Challan</a> 
</div>

    <div class="mycard">
        <div class="myicon">
            <i class="typcn typcn-chart-pie-outline" style=""></i>
        </div>
        <a href="{% url 'fee:fee_defaulter'%}">Fee Defaulters</a> 
    </div>
    
<div class="mycard">
    <div class="myicon">
        <i class="typcn typcn-user" style=""></i>
    </div>
    <a href="{% url 'fee:salary'%}">Employee Salary</a> 
</div>

<div class="mycard">
    <div class="myicon">
        <i class="typcn typcn-chart-line" style=""></i>
    </div>
    <a href="{% url 'account:expense_view'%}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expense&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
</div>

<div class="mycard">
    <div class="myicon">
        <i class="typcn typcn-chart-area-outline" style=""></i>
    </div>
    <a href="{% url 'account:income_view'%}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Income&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
</div>